<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <br />
    <div class="about">
      <h1>about page</h1>
      <br />
      <h2>
        Welcome to Cams Movies about page. The Movies page was created to
        display some of Cameron's favourite movies.
      </h2>
      <br />
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
