<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <br />
    <div class="Home">
      <h1>Movies page</h1>
      <br />
      <h2>Welcome to Cams Movies page.</h2>
      <br />
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
  <link rel="stylesheet" href="/public/style.css" />
</html>
