<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Movies page</h1>
    <h2>Welcome to the Movies page.</h2>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
