<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <div class="Home">
      <%- include('./partials/nav.ejs') %>
      <h1>Movies page</h1>
      <h2>Welcome to the Movies page.</h2>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
